<div class="a-follow display-flex">
  <div class="avi">
    <%= image_tag '/assets/person'%>
  </div>
  <div class="name-followed-by">
    <p class="to-follow"><%= link_to "#{flw.fullname}", user_path(flw) %></p>
  </div>
</div>