<div class="who-to-follow">
  <div class="display-flex wtf-header">
    <h5>WHO TO FOLLOW</h5>
    <p><i class="material-icons">refresh</i></p>
  </div>
  <div>
    <%= display_who_to_follow(@to_follow) %>
  </div>
  <div class="extra-links display-flex">
    <p> <%= link_to 'Popular account' %></p>
    <p> <%=link_to 'Find Friends' %> </p>
  </div>
</div>