<div class="profile-header homepage">
  <div class="cover-img display-flex">
    <%= image_tag '/assets/cover-img' %>
  </div>
  <div class="header-nav">
    <div class="nav-item">
      <%= link_to 'Tweets', user_path %>
    </div>
  </div>
</div>