<div class="profile-header homepage">
  <div class="cover-img display-flex">
    <%= image_tag '/assets/cover-img' %>
  </div>
  <div class="header-nav">
    <div class="nav-item">
      <%= link_to 'Tweets', user_path %>
    </div>
  </div>
  <div class="timeline">
    <div class="new-tweets">
      <h6>ALL TWEETS/ <span class="grey">NO REPLIES</span></h6>
    </div>
    <div class="feed">
      <% current_user.tweets.each do |tweet| %>
        <%= render 'profile_pg_tweet', tweet: tweet %>
      <% end %>
    </div>
    <div>
      <%= render 'user_details' %>
    </div>
  </div>
</div>