<%= form_with model: Tweet, method: :post do |f| %>
  <h5>TWEET TO <%= current_user.fullname.upcase %> </h5>
  <%= f.text_field(:text, placeholder: 'Compose your tweet') %>
  <%= f.submit('Tweet') %>
<% end %>